html {
  --header-background: #6E495B;
  --header-text: #E6DBE0;
  --body-background: #C6A9B7;
  --main-text: #F7F3F5;
  --card-background: #9D6C84;
}

header {
  background-color: var(--header-background);
  color: var(--header-text);

}

body {
  background-color: var(--body-background);
  height: 100vh;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: 'Recursive', sans-serif;
}

.title {
  font-family: 'Parisienne', cursive;
  font-size: 50px;
  text-shadow: 2px 2px 2px black;
  padding: 30px 30px;
}

img {
  border: 5px solid black;
  border-radius: 200px;
  height: 200px;
}

.about-me {
  padding: 20px 200px;
}

a {
  text-decoration: none;
  color: var(--header-text);
}