html {
  --header-background: #6E495B;
  --header-text: #E6DBE0;
  --body-background: #C6A9B7;
  --main-text: #F7F3F5;
  --card-background: #9D6C84;
}

header {
  background-color: var(--header-background);
  color: var(--header-text);
  width: 100%;
  display: grid;
  margin: 0 auto 30px 0;
  border: solid 2px black;
  box-shadow: var(--header-background) 1px 1px 5px;
}

.title {
  font-family: 'Parisienne', cursive;
  font-size: 8vmin;
  text-shadow: 2px 2px 2px black;
  padding: 20px 20px;
}

.photo {
  border: 3px solid black;
  border-radius: 200px;
  height: 180px;
  margin: 0 auto 15px auto;
}

.about-me {
  width: 80%;
  margin: 15px auto;
}

a {
  text-decoration: none;
  color: var(--main-text);
  padding: 5px 0;
}

a:hover {
  color: white;
  background-color: #5B3749;
}

body {
  background-color: var(--body-background);
  color: var(--main-text);
  height: 100vh;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: 'Sunflower', sans-serif;
}

.card {
  background-color: var(--card-background);
  width: 55%;
  border: solid 1px black;
  margin: 15px auto 15px auto;
  box-shadow: var(--header-background) 1px 1px 6px;
  overflow-wrap: anywhere;
}

img {
  height: 600px;
  border: solid 1px black;
  margin: 15px auto 0 auto;
}

p {
  padding: 0 30px;
}

.card-header, .card-footer {
  background-color: var(--header-background);
  color: var(--header-text);
  display: grid;
}

.card-footer {
  margin-bottom: 0;
}

.card-header {
  font-family: 'Damion', cursive;
  color: var(--main-text);
  font-size: 5vmin;
  font-weight: bold;
  text-shadow: 1px 2px 2px black;
  padding: 8px 0;
}

footer {
  display: flex;
  position: fixed;
  bottom: 0;
  margin-bottom: 0;
  padding: 10px 30px 0 30px;
  width: 100%;
  height: 3%;
  font-size: 1.4vmin;
  font-weight: bold;
  background-color: var(--header-background);
  color: var(--header-text);
}

@media only screen and (max-width: 1024px) {
  header {
    width: 100vw;
    display: grid;
    margin: 0 0;
  }
  
  .card {
    align-items: center;
    width: 80%;
  }

  img {
    max-width: 80%;
    height: auto;
  }
}

@media only screen and (max-width: 768px) {
  header {
    width: 100vw;
    display: grid;
    margin: 0 0;
  }
  
  .card {
    align-items: center;
    width: 90%;
  }
  
  .photo {
    max-height: 100px;
    border: 2px solid black;
    margin: 0 auto;
  }

  img {
    max-width: 75%;
    height: auto;
  }
}

@media only screen and (max-width: 480px) {
  header {
    width: 100vw;
    display: grid;
    margin: 0 0;
  }

  .card {
    align-items: center;
    width: 90%;
  }

  img {
    max-width: 75%;
    height: auto;
  }
}